@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'BBQ';
    src: url('./CarnevaleeFreakshow.ttf');
}

:root {
    --primary-color: rgb(22, 22, 22);
    --secondary-color: rgb(126, 132, 70);
}

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2rem;
    background-color: var(--primary-color);
}

.title {
    text-align: center;
    color: white;
    font-family: 'BBQ';
    letter-spacing: 2px;
    font-size: 4rem;
}

.nav {
    display: flex;
    gap: 6rem;
    justify-content: center;
    margin-top: 2rem;
}

.nav a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding-bottom: .5rem;
    transition: .2s;
}

.nav a:hover {
    transform: translateY(-5px);
}

.active {
    border-bottom: 2px var(--secondary-color) solid;
}

#content {
    padding: 4rem;
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* Set the right height to the img */
}

.home {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 3rem;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.home h2 {
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    line-height: 25px;
}

.menu {
    background-color: white;
    padding: 3rem 4rem;
    border-radius: 10px;
    max-width: 700px;
}

.menu h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--secondary-color);
}

.dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2rem;
}

.dish:hover {
    cursor: pointer;
}

.dish:hover img {
    transform: translateY(-5px) scale(1.05);
}

.dish img {
    width: 100%;
    border-radius: 10px;
    transition: .2s;
}

.dish h3 {
    margin: 1rem 0;
    color: var(--primary-color);
}

.dish p {
    color: rgb(94, 94, 94);
}

.contact {
    max-width: 900px;
    padding: 2rem;
    background-color: var(--primary-color);
    border-radius: 15px;
    color: white;
}

.map img {
    width: 100%;
    border-radius: 10px;
}

.contact h2 {
    margin: 1rem 0;
}

.contact h2:first-of-type {
    margin-top: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--primary-color);
    color: white;
}